<div class="content-block">
    <mat-drawer-container class="pp-card main-container" hasBackdrop="true">
        <mat-drawer mode="over" position="end" class="side-pane">
            <div class="side-pane-container">
                <ng-content select="[sidepane]"></ng-content>
            </div>
        </mat-drawer>
        <mat-drawer-content class="main-pane">
            <button class="class.mat-elevation-z0 toggle-button" 
            mat-icon-button 
            matTooltip="Filter" 
            matTooltipPosition="below"
            matTooltipClass="pp-tooltip" 
            (click)="toggleFilterPane()">
                <mat-icon>filter_alt</mat-icon>
            </button>
            <ng-content select="[mainpane]"></ng-content>
        </mat-drawer-content>
    </mat-drawer-container>
</div>