@import '../../../../themes/pp-variables.base.scss';

$main-color: $pp-blue;

.pp-blue-box-container {
    background-color: $main-color;
}

.pp-blue-box-icon-container {
    background-color: #74cdf6;
}

.pp-blue-box-icon {
    color: $main-color;
}