:host {
  width: 100%;
  height: 75%;
}

.header {
  height: 60px;
  background: #043f6d;
}

.toolsgroup-logo {
  padding-top: .8%;
  padding-left: 5%;
}

.promo-planning-logo {
  width: 13%;
  margin-top: 5%;
  margin-left: 43%;
}