<div class="campaign-details">
    <div class="campaign-details-left-pannel">
        <!-- <pp-campaign-details-left-pannel [campaignId]="campaignId"></pp-campaign-details-left-pannel> -->
    </div>
    <mat-divider class="campaign-details-devider" vertical="true"></mat-divider>
    <div class="campaign-details-right-pannel">
        <pp-campaign-details-pannel [campaign]="campaign"></pp-campaign-details-pannel>
    </div>
</div>
<mat-divider class="campaign-details-bottom-line"></mat-divider>
