@import '../../../themes/pp-colors-palette.scss';

.promotion-navigation-action-button {
    border-radius: 8px;
    border-radius: 8px;
    width: 204px;
    height: 36px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: $white;

    &-icon {
        font-size: 22px;
        margin-right: 4px;
        padding-top: 2px;
    }

    &-title {
        margin-top: 2px;
    }
}