@import "./../../../../themes/pp-colors-palette.scss";

.confirmation-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: $gray-900;
}

.confirmation-message {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.25px;
    color: $black;
}

.button-margin {
    margin-right: 1%;
}