<mat-tab-group class="promotion-details-tabs-group" mat-align-tabs="start" [selectedIndex]="0" animationDuration="0ms">
    <mat-tab label="General information">
        <div class="promotion-details-tab-container">
            <ng-content select="[general-info-tab]"></ng-content>
        </div>
    </mat-tab>
    <mat-tab label="Promotion attributes">
        <div class="promotion-details-tab-container">
            <ng-content select="[promotion-attributes-tab]"></ng-content>
        </div>
    </mat-tab>
</mat-tab-group>
