$white: #FFFFFF;
$black: #171C26;
$transparent: #FFF 0%;

$text-header: #002067;
$text-data: #081644;
$text-titles: #002067;

$gray-light: #F1F3F5;
$gray-main: #9CA9B8;
$gray-dark: #586071;

// Basic palette
$primary-light: #B3D2FB;
$primary-main: #0069F1;
$primary-dark: #003FC3;

$error-light: #F6D1CE;
$error-main: #D92D20;
$error-dark: #912018;

$warning-light: #FEE7BD;
$warning-main: #FDB022;
$warning-dark: #6A4501;

$success-light: #E5F0E8;
$success-main: #288541;
$success-dark: #0F551C;


// Full palette
// Primary
$primary-25: #F6FAFE;
$primary-50: #E0EDFD;
$primary-100: #B3D2FB;
$primary-200:  #80B4F8;
$primary-500: #127AFF;
$primary-600: #0069F1;
$primary-700: #004CEC;
$primary-800: #002067;

// Success
$success-25: #F6FEF9;
$success-50: #ECFDF3;
$success-100: #C5F4E7;
$success-200: #A6F4C5;
$success-300: #6CE9A6;
$success-400: #11C793;
$success-500: #12B76A;
$success-600: #039855;
$success-700: #027A48;
$success-800: #05603A;
$success-900: #064836;

// Error
$error-25: #FFFAFA;
$error-50: #FEF3F2;
$error-100: #FEE4E2;
$error-200: #FBD7DC;
$error-300: #FDA19B;
$error-400: #E27870;
$error-500: #E1645B;
$error-600: #D92D20;
$error-700: #C70611;
$error-800: #912018;
$error-900: #7A271A;

// Gray
$gray-25: #F0F2F4;
$gray-50: #D9DEE4;
$gray-100: #C0C8D2;
$gray-200: #A6B2C0;
$gray-300: #93A2B3;
$gray-400: #8594A5;
$gray-500: #78899D;
$gray-600: #6D7E93;
$gray-700: #506279;
$gray-800: #1D2939;
$gray-900: #101828;

// Secondary colors:
    // Green
$green-100: #D3F8DF;
$green-500: #16B364;

    // Violet
$violet-100: #ECE9FE;
$violet-500: #8B46ED;

    // Blue Light
$bluelight-100: #E0F2FE;
$bluelight-500: #0BA5EC;

    // Blue
$blue-25: #F5FAFF;
$blue-50: #EFF8FF;
$blue-100: #D1E9FF;
$blue-200: #B2DDFF;
$blue-300: #84CAFF;
$blue-400: #53B1FD;
$blue-500: #2E90FA;
$blue-600: #1570EF;
$blue-700: #175CD3;
$blue-800: #1849A9;
$blue-900: #194185;