$pp-blue: #35baf6;
$pp-blue-darker: #0877cb;
$primary-color: #358cf6;
$primary-lighter-color: #c2ddfc;
$primary-darker-color: #226ff2;
$accent-color: #4caf4f;
$accent-lighter-color: #bff7d1;
$accent-darker-color: #27902a;
$warn-color: #fc4646;
$warn-lighter-color: #fec8c8;
$warn-darker-color: #fb2f2f;
$base-text-color: rgba(0, 0, 0, 0.87);
$base-bg: #fff;
$base-bg-additional: #363640;
$base-border-color: #e0e0e0;
$base-button-hover-color: #e4e4e4;
$base-border-color-additional: #515159;
$base-border-radius: 4px;
$content-card-min-height: 60vh;
