@import '../../../../themes/pp-colors-palette.scss';

.left-pannel-container {
    height: auto;
    width: 291px;
    
    .promotion-summary {
        margin-left: 2%;
    
        &-header {
            color: $gray-900;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            height: 38px;
            margin-left: 10px;
            padding-top: 3%;
        }

        &-container {
            margin-top: 2%;
            margin-left: 2%;
            width: 271px;
            height: 406px;
        }
    }
}

.left-pannel-container-simulated {
    background-color: $success-25;
}