@import "../../../themes/pp-variables.base.scss";


.login-form {
  .link {
    text-align: center;
    font-size: 16px;
    font-style: normal;

    a {
      text-decoration: none;
    }
  }
}

.user-name-input {
  width: 100%;
}

.password-input-container {
  width: 100%;
  margin-top: 10%;
}

.submit-button {
  margin-top: 7%;
  width: 100%;
  height: 40px;
}

.login-spinner {
  margin-left: 40%;
}

.login-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff;
}
