<div class="promotion-details">
    <div class="promotion-details-left-pannel">
        <pp-promotion-details-left-pannel [promotionId]="promotionId"></pp-promotion-details-left-pannel>
    </div>
    <mat-divider class="promotion-details-devider" vertical="true"></mat-divider>
    <div class="promotion-details-right-pannel">
        <pp-promotion-details-right-pannel [promotionId]="promotionId"></pp-promotion-details-right-pannel>
    </div>
</div>
<mat-divider class="promotion-details-bottom-line"></mat-divider>
