@import '../../../themes/pp-colors-palette.scss';

.filters-toolbar {
  margin-top: 4%;
}

.mat-toolbar {
  background: $gray-50;
}

.spacer {
  flex: 1 1 auto;
}

.mat-raised-button {
  background-color: #A48AFB;;
  color: $gray-50;
}

.mat-raised-button:hover {
  background-color: #8B46ED;
}

.mat-raised-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}

.mat-icon.mat-icon-inline {
  font-size: large;
}

.side-pane-apply-button {
  margin-right: 5%;
}

.filters-container {
  margin-top: 10%
}